{% extends 'base.html' %}

{% block header %}
	{% if user.is_authenticated %}
		{{casesetup.site}} 
	{% endif %}
{% endblock %}

{% block content %}
	{%if user.is_authenticated %}
		{%load humanize%}
		<p>Case Description: {{casesetup.desc}}
		<br><br>
		<h1>Benefit-Cost Assessment</h1>
		<table class="table">
			{% for benefitsCostRow in benefitsCostTable %}
				{%if 'Let it Burn' in benefitsCostRow %}
					<thead><tr>
						{% for benefitCostCell in benefitsCostRow%}
							<th>{{benefitCostCell}}
						{%endfor%}
					</tr></thead>
					<tbody>
				{%else%}
					<tr>
						{% for benefitCostCell in benefitsCostRow %}
							<td>{{benefitCostCell|intcomma}}
						{%endfor%}
					</tr>
				{%endif%}
			{% endfor %}
		</table>
		<h1>Assessment Review</h1>
		<table class="table">
		{% for entries in dmgAssTransposed%}
			{% if 'Let It Burn' in entries %}
				<thead><tr>
				{% for things in entries %}
				<th>{{things}}
				{% endfor %}
				</tr></thead>
				<tbody>
			{% elif 'pdalabel' in entries %}
				<tr>
					<td colspan="4"><b>Physical Damage Assessment</b>
				</tr>
			{% elif 'bielabel' in entries %}
				<tr>
					<td colspan="4"><b>Business Interruption Estimate</b>
				</tr>
			{% elif 'ollabel' in entries %}
				<tr>
					<td colspan="4"><b>Other Loss Liabilities</b>
				</tr>
			{% else %}
				<tr>
				{% for things in entries %}
				<td>{{things|intcomma}}
				{% endfor %}
				</tr>
			{% endif %}
		{%endfor%}
		</tbody>
		</table>
		
		<table class="table">
			{% for CoP in costOfProtectionList %}
				{%if 'Cost of Protection' in CoP %}
					<thead><tr>
						{% for element in CoP%}
							<th>{{element}}
						{% endfor %}
					</tr></thead>
					<tbody>
				{% else %}
					<tr>
						{% for element in CoP %}
							<td>{{element}}
						{%endfor%}
					</tr>
				{%endif%}
			{% endfor %}
		</tbody>
		</table>
		<p><a href="{%url 'assessmentsListView'%}">Back to list</a>
		{%comment%} <p><a href="{% url 'unit_edit' pk=unit.pk %}">Edit {{unit.name}}</a> {%endcomment%}
	{% else %}
		<a href="{% url 'login'%}"> Login Here</a><br>
	{% endif %}
{% endblock %}