{% extends 'base.html' %}

{% block header %}
	{% if user.is_authenticated %}
		List of Assessments
	{% endif %}
{% endblock %}

{% block content %}
	{%if user.is_authenticated %}
		<a href="{% url 'assessment_new' %}">New Assessment</a>
		<table class="table">	
			<thead><tr>
				<td>Site</td>
				<td>Description</td>
				<td>Assessment Type</td>
				<td>Unit</td>
			</tr></thead>
			<tbody>
		{% for casesetup in object_list %}
			<tr>
				<!-- <td><a href="{{ unit.get_absolute_url }}">{{unit.name}}</a></td> -->
				<td><a href="{{ casesetup.get_absolute_url }}">{{casesetup.site}}</a></td>
				<td>{{casesetup.desc}}</td>
				<td>{{casesetup.type}}</td>
				<td>{{casesetup.unit}}</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
	{% else %}
		<a href="{% url 'login'%}"> Login Here</a><br>
	{% endif %}
{% endblock %}